[Desktop Entry]
Version=1.0
Type=Application
Name=TorTP
Comment=Redirect all network traffic via tor's transparent proxy
Comment[it]=Redirige tutto il traffico generato dall'utente verso il proxy trasparente Tor
Comment[es]=Redirige todo el tráfico de red por el proxy transparente de Tor
Categories=Paranoid;
Icon=anonymous.ico
TryExec=su-to-root
Exec=su-to-root -X -c /usr/bin/tortp-gtk
Path=
Terminal=false
StartupNotify=false
