[Desktop Entry]
Version=1.0
Type=Application
Name=TORtp
Comment=Redirect all network traffic via tor's transparent proxy
Categories=Paranoid;
Icon=anonymous.ico
Exec=su-to-root -X -c tortp-gtk
Path=
Terminal=false
StartupNotify=false
